@font-face {
    font-family: "Averox", sans-serif;
    src: url(Assets/fonts/averox.woff2) format("woff2");
}

.text--grad {
    background-image: linear-gradient(-45deg, hsl(299, 100%, 70%) 0%, #00dbde 100%);
    -webkit-text-fill-color: transparent;
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
}

body {
    background: url(Assets/space.jpg) no-repeat fixed;
    background-size: cover;
    font-family: "Exo 2", monospace;
    height: 100vh;
    display: grid;
    place-items: center;
    color: white;
}

.video--container {
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: -999;
    overflow: hidden;
}

#background--video {
    min-width: 100%;
    min-height: 100%;
}

.wrapper {
    position: relative;
    background-color: hsl(244, 47%, 14%);
    min-width: 56.25rem;
    max-width: 90rem;
    padding: 1.5rem;
}



header {
    height: 5rem;
    padding: 1.5rem;
    display: flex;
    justify-content: space-between;
    margin-bottom: 3rem;
}

h1,
h2 {
    letter-spacing: 5px;
    font-family: "Averox", sans-serif;
}

h1 {
    font-size: 2.5rem;
    text-shadow: -4px 7px 20px #fc00ff, -2px -3px 15px #00dbde;
}

h2 {
    font-size: 1.25rem;
}

p {
    margin-bottom: .375rem;
}


.nine--thousand {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.game--title {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    justify-content: center;
}

.game--core {
    margin-top: 3rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 3rem;
    justify-items: center;
}

.num--atual {
    width: 7.8125rem;
    height: 7.8125rem;
    border: 2px solid white;
    grid-column: 1/-1;
    display: grid;
    place-items: center;
    font-size: 6rem;
    text-shadow: -4px 7px 20px #fc00ff, -2px -3px 15px #00dbde;
}

.container--guess {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: fit-content;
}

.game--control {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.game--stats {
    display: grid;
    grid-template-columns: auto auto;
    gap: .75rem;
    align-items: center;
    font-size: 1.25rem;
}

/* Generics */
button {
    border: 1px solid white;
    color: white;
    background: none;
    background-color: hsl(244, 47%, 14%);
    outline: none;
    font-weight: 600;
    font-family: inherit;
    text-transform: uppercase;
    letter-spacing: 2px;
    min-height: 3rem;
    min-width: 7.75rem;
    padding: .5rem 1rem;
    cursor: pointer;
}



/* Pseudo Elements */


.wrapper::after {
    content: "";
    z-index: -1;
    position: absolute;
    inset: 0;
    background: linear-gradient(-45deg, #fc00ff 0%, #00dbde 100%);
    filter: blur(20px);
}


.wrapper::before {
    content: '';
    position: absolute;
    inset: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: .25rem;
    width: 100%;
    height: 100%;
    background: linear-gradient(-45deg, #e81cff 0%, #40c9ff 100%);
    z-index: -1;
    pointer-events: none;
}